<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1> Enregistrement des etudiants </h1> 
 <form action="" method="post" name="EtudiantForm" id="EtudiantForm">
    {% csrf_token %}
   <label for="nom">Nom : </label>
   <input type="text" name="nom" id="nom">

   <label for="prenom">Prenom : </label>
   <input type="text" name="prenom" id="prenom">

   <label for="age">Age : </label>
   <input type="text" name="age" id="age">

   <label for="email">Email : </label>
   <input type="text" name="email" id="email">

   <label for="classe">Classe : </label>
   <input type="text" name="classe" id="classe">

   <label for="date_inscription">Date d'inscription : </label>
   <input type="text" name="date_inscription" id="date_inscription">

   <input type="submit" value="Enregistrer">

 
 </form>
</body>
</html>